.main-home-div {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
}
.home-styled-left {
  padding-left: 40px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
  /* padding-top: 10rem;
  padding-left: 10px; */
  /* margin-bottom: 14px; */
}

.home-styled-main{
  margin-bottom: 20px;
}
.home-styled-heading {
  color: #fff;
  font-family: Dela Gothic One;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.home-styled-typo {
  color: #fff;
  font-family: Dela Gothic One;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.home-arrow-img {
  margin-left: 17rem;
  width: 237px;
  height: 17px;
}
.home-styled-text {
  color: #fff;
  font-family: Questrial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.home-styled-img {
  /* margin-left: 11rem;
  margin-top: 15rem; */
  position: relative;
  display: flex;
  justify-content: center;
  width: 50%;
}
.home-lottie-wrapper {
  position: absolute;
  top: 49px;
    right: 116px;
  width: 122px;
  height: 122px;
  transform: translate(-50%, -50%);
}
.home-delivery-image {
  width: 600px;
  height: 400px;
}
.home-div {
  width: 100%;
  display: flex;
  align-items: center;
}
.home-button-box {
  display: flex;
  gap: 2rem;
  margin-top: 4.5rem;
}
.home-try-it-button {
  width: 193px;
  height: 47px;
  border-radius: 6px;
  background: linear-gradient(
    268deg,
    #ff1f3f 3.11%,
    rgba(255, 31, 192, 0.79) 99.33%
  );
}
.home-try-it-text {
  font-size: 20px;
  text-transform: none;
  font-weight: 400;
  color: white;
}
.home-contact-now-button {
  width: 193px;
  height: 47px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
}
.home-contact-now-text {
  font-size: 20px;
  text-transform: none;
  font-weight: 400;
  color: white;
  margin-left: 11px;
  white-space: nowrap;
}



/*for mobile view*/
@media (min-width: 320px) and (max-width: 480px) {
  .main-home-div {
    flex-direction: column;
    height: 700px;
    background-size: 331px 635px!important;
  }
  .home-div {
    flex-direction: column;    
  }

  .home-styled-text {
    font-size: 15px;
  }

  .home-styled-left {
    /* padding-top: 10px;
    padding-left: 5px; */
    width: 100%;
    display: flex;
    margin-top: 11%;
    margin-left: 3%;
  }
  .home-styled-heading {
    font-size: 23px;
  }
  .home-styled-typo {
    font-size: 23px;
  }
  .home-arrow-img {
    margin-left: 8rem;
    width: 136px;
    height: 17px;
  }
  .home-styled-img {
    width: 100%;
    
  }
  .home-delivery-image {
       width: 269px;

    justify-content: center;
    margin-right: 20%;
    margin-top: 1%;
  }

  .home-button-box{
    margin-top: 2.5rem;
  }
  .contact-arrow{
    width: 14px;
  }
  .home-lottie-wrapper {
    top: 24%;
    left: 68%;
  }
  .lottie-icon{
    width: 98px;
    height: 122px;
  }
}

/* for tablet view */
@media (min-width: 768px) and (max-width: 1024px) {
.home-styled-left {
    padding-left: 8px;
    width: 44%;
}
.home-lottie-wrapper {
  top: 48px;
  right: 25px;
}
}

@media only screen and (min-width: 1024px) and (min-height: 678px) {

}

