.service-main-div {
  width: 100%;
}

.service-div {
  display: flex;
  justify-content: center;
  gap: 8rem;
  align-items: center;
  margin-top: 9%;
    margin-bottom: 10%;
}
.mobile-div{
  display: none;
}
.horizontal-line{
  display: block;
}

/* for tablet view */
@media (min-width: 768px) and (max-width: 1024px) {
}

/*for mobile view*/
@media (min-width: 320px) and (max-width: 480px) {
  .service-main-div {
    display: none;
  }

  .service-div {
    flex-direction: column;
  }
  .mobile-div{
    display: block;
  }
  .Ourservice-div{
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .carousel-inner{
    margin-left: 1rem;
  }
  .Main-slider-div{
    margin-top: 12%;
  }
  .horizontal-line{
    display: none;
  }
  .service-div{
    margin-top: 0%;
    margin-bottom: 0%;
  }
}
