.service-main-div {
  width: 100%;
}

.service-div {
  display: flex;
  justify-content: center;
  gap: 8rem;
  align-items: center;
}
.mobile-div{
  display: none;
}
/* for tablet view */
@media (min-width: 768px) and (max-width: 1024px) {
}

/*for mobile view*/
@media (min-width: 320px) and (max-width: 480px) {
  .service-main-div {
    display: none;
  }

  .service-div {
    flex-direction: column;
  }
  .mobile-div{
    display: block;
  }
}
